<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.back.mapper.BlindBoxMapper">

    <resultMap id="BaseResultMap" type="com.web.back.domain.BlindBox">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="stu_account" column="stu_account" jdbcType="VARCHAR"/>
            <result property="exam_paper_id" column="exam_paper_id" jdbcType="INTEGER"/>
            <result property="is_right" column="is_right" jdbcType="INTEGER"/>
            <result property="stu_answer" column="stu_answer" jdbcType="VARCHAR"/>
            <result property="true_answer" column="true_answer" jdbcType="VARCHAR"/>
            <result property="teacher_account" column="teacher_account" jdbcType="VARCHAR"/>
            <result property="class_name" column="class_name" jdbcType="VARCHAR"/>
    </resultMap>




    <sql id="Base_Column_List">
        id,stu_account,exam_paper_id,is_right,
        true_answer,teacher_account,class_name,stu_answer
    </sql>

    <select id="findInfo" resultMap="BaseResultMap">
        SELECT * FROM blind_box WHERE stu_account = #{stu_account, jdbcType=VARCHAR} and exam_paper_id = #{exam_paper_id, jdbcType=INTEGER}
    </select>
    <select id="findInfoById" resultMap="BaseResultMap">
        SELECT * FROM blind_box WHERE id = #{id, jdbcType=INTEGER}
    </select>


    <select id="view_result" resultMap="BaseResultMap">
        SELECT *
        FROM blind_box
        WHERE stu_account = #{studentAccount}
          AND is_right IS NULL
          AND true_answer IS NULL
          AND stu_answer IS NULL
            LIMIT 1
    </select>
    <select id="blindBoxPage" resultMap="BaseResultMap" parameterType="com.web.back.viewmodel.admin.blindbox.PageInfoBlindBoxRequestVM">
        SELECT
        <include refid="Base_Column_List"/>
        FROM blind_box
        <where>
            and class_name =#{class_name}
            <if test="stu_account != null and stu_account != '' ">
                and stu_account=#{stu_account}
            </if>
            <if test="teacher_account != null and teacher_account != '' ">
                and teacher_account=#{teacher_account}
            </if>
        </where>
    </select>

</mapper>
