<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.back.mapper.BlindBoxMapper">

    <resultMap id="BaseResultMap" type="com.web.back.domain.BlindBox">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="stu_account" column="stu_account" jdbcType="VARCHAR"/>
            <result property="exam_paper_id" column="exam_paper_id" jdbcType="INTEGER"/>
            <result property="is_right" column="is_right" jdbcType="INTEGER"/>
            <result property="true_answer" column="true_answer" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stu_account,exam_paper_id,is_right,
        true_answer
    </sql>

    <select id="findInfo" resultMap="BaseResultMap">
        SELECT * FROM blind_box WHERE stu_account = #{stu_account, jdbcType=VARCHAR} and exam_paper_id = #{exam_paper_id, jdbcType=INTEGER}
    </select>
</mapper>
