<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.back.mapper.DebateMapper">

    <resultMap id="BaseResultMap" type="com.web.back.domain.Debate">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="activityId" column="activity_id" jdbcType="INTEGER"/>
            <result property="debateTopic" column="debate_topic" jdbcType="VARCHAR"/>
            <result property="debateSize" column="debate_size" jdbcType="INTEGER"/>
            <result property="isFinished" column="is_finished" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,activity_id,debate_topic,
        debate_size,is_finished
    </sql>
</mapper>
