<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.back.mapper.DebateMapper">

    <resultMap id="BaseResultMap" type="com.web.back.domain.Debate">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="activityId" column="activity_id" jdbcType="INTEGER"/>
            <result property="debateTopic" column="debate_topic" jdbcType="VARCHAR"/>
            <result property="isFinished" column="is_finished" jdbcType="TINYINT"/>
            <result property="positive_side_student_group_id" column="positive_side_student_group_id" jdbcType="INTEGER"/>
            <result property="negative_side_student_group_id" column="negative_side_student_group_id" jdbcType="INTEGER"/>
            <result property="course_name" column="course_name" jdbcType="VARCHAR"/>
            <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />

    </resultMap>

    <sql id="Base_Column_List">
        id,activity_id,debate_topic,
        is_finished,positive_side_student_group_id,negative_side_student_group_id,course_name,create_time
    </sql>

    <select id="select_by_coursename" resultMap="BaseResultMap">
        SELECT * FROM debate WHERE course_name=#{course_name,jdbcType=VARCHAR}
    </select>




</mapper>
