<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.back.mapper.DiscussionMapper">

    <resultMap id="BaseResultMap" type="com.web.back.domain.Discussion">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="discussionTopic" column="discussion_topic" jdbcType="VARCHAR"/>
            <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
            <result property="isReviewed" column="is_reviewed" jdbcType="TINYINT"/>
            <result property="reviewStatus" column="review_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,discussion_topic,publish_time,
        is_reviewed,review_status
    </sql>

    <!-- 查询待审核的讨论 -->
    <select id="selectPendingReviews" resultType="com.web.back.domain.Discussion">
        SELECT *
        FROM discussion
        WHERE is_reviewed = 0  <!-- 假设 is_reviewed = 0 表示待审核 -->
    </select>

    <!-- 根据讨论类型查询讨论 -->
    <select id="selectByDiscussionType" resultType="com.web.back.domain.Discussion">
        SELECT *
        FROM discussion
        WHERE discussion_type = #{discussionType}
    </select>
</mapper>

