<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.back.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.web.back.domain.Message">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="senderId" column="sender_id" jdbcType="INTEGER"/>
            <result property="receiverId" column="receiver_id" jdbcType="INTEGER"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="identity" column="identity" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sender_id,receiver_id,
        time,content,identity
    </sql>
</mapper>
