<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.back.mapper.ReviewDiscussionMapper">

    <resultMap id="BaseResultMap" type="com.web.back.domain.ReviewDiscussion">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="discussionId" column="discussion_id" jdbcType="INTEGER"/>
            <result property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <result property="reviewStatus" column="review_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,discussion_id,teacher_id,
        review_status
    </sql>
    <!-- 查询某个讨论的所有审核记录 -->
    <select id="selectReviewHistoryByDiscussionId" resultType="com.web.back.domain.ReviewDiscussion">
        SELECT *
        FROM review_discussion
        WHERE discussion_id = #{discussionId}
    </select>
</mapper>
