<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.back.mapper.StudentPointsMapper">

    <resultMap id="BaseResultMap" type="com.web.back.domain.StudentPoints">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
            <result property="points" column="points" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_id,course_name,
        points
    </sql>
</mapper>
