<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.back.mapper.StudentQiangdaMapper">

    <resultMap id="BaseResultMap" type="com.web.back.domain.StudentQiangda">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="qiangdaId" column="qiangda_id" jdbcType="INTEGER"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="res" type="com.web.back.domain.result.StudentQiangDaRes">
        <result property="qiangda_id" column="qiangda_id" jdbcType="INTEGER"/>
        <result property="student_name" column="student_name" jdbcType="VARCHAR"/>
        <result property="qiangda_type" column="qiangda_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_id,qiangda_id,
        course_name
    </sql>

    <select id="get_qiangda_res" resultMap="res">
        select  sq.qiangda_id as qiangda_id, s.name as student_name, q.qiangda_type as qiangda_type from qiangda as q, student as s, student_qiangda as sq where sq.qiangda_id = #{qiangda_id} and sq.course_name = #{course_name} and q.id = sq.qiangda_id and s.id = sq.student_id;
    </select>
</mapper>
