<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.back.mapper.StudentClassMapper">

    <resultMap id="BaseResultMap" type="com.web.back.domain.StudentClass">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="className" column="class_name" jdbcType="VARCHAR"/>
            <result property="classInviteCode" column="class_invite_code" jdbcType="VARCHAR"/>
            <result property="joinClassTime" column="join_class_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_id,class_name,
        class_invite_code,join_class_time
    </sql>
    <select id="page" resultMap="BaseResultMap" parameterType="com.web.back.viewmodel.admin.studentclass.StudentClassPageRequestVM">
        SELECT
        <include refid="Base_Column_List"/>
        FROM student_class
        <where>
            <if test="id != null ">
                and id= #{id}
            </if>
            <if test="className != null ">
                and class_Name= #{className}
            </if>
        </where>
    </select>
</mapper>
