<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.back.mapper.TeacherSignInMapper">

    <resultMap id="BaseResultMap" type="com.web.back.domain.TeacherSignIn">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="teacherClassId" column="teacher_class_id" jdbcType="INTEGER"/>
            <result property="signedInCount" column="signed_in_count" jdbcType="INTEGER"/>
            <result property="signInTitle" column="sign_in_title" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isValid" column="is_valid" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,teacher_class_id,signed_in_count,
        sign_in_title,create_time,is_valid
    </sql>
</mapper>
