<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.back.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="com.web.back.domain.Teacher">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="permission" column="permission" jdbcType="VARCHAR"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,permission,
        account,password,create_time,
        gender
    </sql>




    <select id="teacherPage" resultMap="BaseResultMap" parameterType="com.web.back.viewmodel.admin.user.UserPageRequestVM">
        SELECT
        <include refid="Base_Column_List"/>
        FROM teacher
        <where>
            <if test="account != null and account != ''">
                and account like concat('%',#{account},'%')
            </if>
            <if test="role != null ">
                and role= #{role}
            </if>

        </where>
    </select>
</mapper>
